*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(
        135deg,
        #6D28D9,
        #9333EA,
        #EC4899
    );
}

.hero{
    min-height:100vh;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
}

.logo{
    font-size:30px;
    font-weight:700;
    color:white;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-weight:500;
}

.content{
    display:flex;
    justify-content:center;
    align-items:center;
    height:80vh;
}

.card{
    width:700px;
    padding:50px;
    text-align:center;

    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,0.2);

    border-radius:25px;

    box-shadow:
    0 8px 32px rgba(0,0,0,0.2);
}

.card h1{
    color:white;
    font-size:48px;
    margin-bottom:20px;
}

.card p{
    color:#F3F4F6;
    font-size:18px;
    line-height:1.7;
    margin-bottom:35px;
}

.buttons{
    display:flex;
    justify-content:center;
    gap:20px;
}

.btn{
    padding:14px 30px;
    border-radius:30px;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
}

.primary{
    background:white;
    color:#7C3AED;
}

.secondary{
    background:transparent;
    color:white;
    border:2px solid white;
}

.btn:hover{
    transform:translateY(-3px);
}
